#-------------------------------------------------------------------------------
# General
#-------------------------------------------------------------------------------

*.pyc
.DS_Store

*.sublime-project
*.sublime-workspace
/whatsforlunch/localsettings.py


#-------------------------------------------------------------------------------
# JetBrains
#-------------------------------------------------------------------------------

.idea