#-------------------------------------------------------------------------------
# General
#-------------------------------------------------------------------------------

*.pyc
.DS_Store

*.sublime-project
*.sublime-workspace

#-------------------------------------------------------------------------------
# JetBrains
#-------------------------------------------------------------------------------

.idea