{% extends 'base.html' %}

{% block body %}
    {% include '_include/header.html' %}
    {% include '_include/nav.html' %}
    <div id="{{ TEMPLATE_NAME }}-page" class="content container">
        <h1>Search</h1>
        <form action="/results" method="get">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <table>
                {% for field in form  %}
                    <tr>
                        <td>{{ field.label }}</td>
                        <td>{{ field }}</td>
                        <td>{% if field.errors %}{{ field.errors }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>
            <button>Submit</button>
        </form>
    </div>
    {% include '_include/footer.html' %}
{% endblock %}
